.toDo {
    
}

.lists {
    width: 80%;
    margin:35px auto;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: row;
    background: #12CBC4;
    border-radius: 16px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-block: 10px;
    width: 100%;
    border:4px #4bcffa solid;
}

.searchInput {
    margin-top:95px;
    width: 560px;
    height: 35px;
    border-radius: 5px;
    border:none;
    font-size:20px;
    position: relative;
    /*left:-420px;*/

}

.logOut {
    color:#ffa502;
    font-size: 48px;
    position: absolute;
    right:55px;
    top: 25px;
}

.logOut:hover {
    color:#fff;
}

.addNewList {
    position: absolute;
    color:#fff;
    
    right:45px;
    bottom: 45px;
}

.plusList:hover{
    color:darkgreen;
}

.plusList {
    font-size: 66px;
}

.plusListDescription {
    font-size:22px;
}

.tasksDone {
    display: flex;
    flex-direction: row;
    font-size:18px;
    font-weight: 700;
}

.doneIcon {
    color:green;
    margin: 18px 5px;
    font-size: 24px;
}

.pinSpan {
    display: flex;
    flex-direction: row;
}

.pinIcon {
    color:#D980FA;
    margin: auto 25px;
    font-size: 32px;
}

@media only screen and (max-width: 768px) {
   .pinIcon{
       display:none;
   }

   .lists{
       width:100%;
       display: flex;
       
   }

   .list{
    height: 100%;
    font-size: 14px;
    padding-top: 0;
    
   }

   .listName{
       font-size: 16px;
       margin:auto auto;
       margin-left: -30px;
       
       justify-content: space-between;
   }

   .tasksDone{
       font-size: 14px;
       margin:auto auto;
       flex-wrap: wrap;
       margin-left: 25px;
       font-weight: 400;
   }

   .searchInput{
       width:80%;
   }

   .addNewList{
       position: relative;
       margin:25px auto;
       bottom:0;
       right:0;
   }

   .createDate{
       display: none;
       
       justify-content: space-between;
   }

   .doneIcon {
       font-size: 14px;
   }

  }