.listView {
    width:760px;
    height: 80%;
    top:10%;
    left:28%;
    background: #574b90;
    position:absolute;
    border-radius: 25px;
    border:1px #485460 solid;
    z-index: 2;
}

.listName {
    margin-top: 35px;
    width: inherit;
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
}

.saveBtn {
    background-color:#f8a5c2;
    bottom: 25px;
    right: 25px;
    position: absolute;
    font-size: 24px;
    width: 125px;
    height: 45px;
    border:none;
    border-radius: 10px;
}

.saveBtn:hover {
    background:#2ed573;
}

.cancelBtn {
    cursor: pointer;
    bottom: 35px;
    left: 35px;
    position: absolute;
    font-size: 24px;
}

.cancelBtn:hover {
    color: #fff;
}

.listSection {
    padding-bottom: 25px;
    border-bottom:3px solid #0fbcf9;
    
    top:25px;
    left:42px;
    width:85%;
    
}

.tasks {
    position: relative;
    width:100%;
    margin: 15px auto;
    top:20px;
}

.taskNameInput {
    width: 80%;
    border:none;
    border-bottom: 2px solid #0fbcf9;
    background: inherit;
    height: 25px;
    color:#fff;
    font-size: 18px;
    /*text-align: center;*/
    margin-left: 25px;
    cursor: pointer;
}

.checkBox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.tasksForm {
    margin: 15px 0;
}

.checkmark {
    position: absolute;

    left: 25px;
    height: 15px;
    width: 15px;
    background: #eee;
}

.checkBox:checked ~ .checkmark {
    background:#000;
}

.checkmark:after {
    content: "";
  position: absolute;
  display: none;
}

.checkBox:checked ~ .checkmark::after {
    display: block;
}

.checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.task:hover .checkBox ~ .checkmark {
    background: blue;
}

.cancelAddBtn {
    position: relative;
    top:25px;
    font-size: 16px;
    width: 115px;
    height: 45px;
    right: -150px;
    background: #eb2f06;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

.cancelAddBtn:hover {
    background: #b33939;
    color:#fff;
}

.addBtn {
    position: relative;
    top:25px;
    width: 115px;
    height: 45px;
    background: #f8a5c2;
    border-radius: 10px;
    border:none;
    right: -135px;
    font-size: 16px;
    cursor: pointer;
}

.addBtn:hover {
    background: #cd6133;
    color:#fff;
}

.deleteTask {
    padding-left: 15px;
    font-size: 22px;
    color:#eb2f06;
    margin-bottom: 5PX;
    cursor: pointer;
    
}

.deleteTask:hover {
    opacity:0.2;
}

.coverSpan {
    width:100%;
    height: 100%;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .listView{
        width: 100%;
        top:0;
        left:0;
        margin:auto 0;
        border-radius: 0;
        max-width: 100%;
        padding:0;
        border:none;
        height:790px;
        max-height:920px;
    }

    .listName{
        margin-left: 0;
    }

    .tasksForm{

    }

    .taskNameInput{
        width:60%;
    }

    .addBtn{
        margin-top: 40px;
        bottom: 15px;
        right:10px;
        
        margin-top:0;
        right:0;
        top:0;
    }

    .saveBtn{
        position: relative;
        flex:1;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto auto;
        background: none;
        font-weight: 700;
        color:lawngreen;
        background: #1e272e;
    }

    .cancelBtn{
        position: relative;
        right: 0;
        flex:1;
        bottom: 0;
        left: 0;  
        color:darkred;
        border-radius: 10px;
        padding-top: 5px;
        font-weight: 700;
        background: #d1d8e0;
    }

    .cancelAddBtn{
        margin-top: 40px;
        
        
        margin-top:0;
        right:0;
        top:0;
        
    }

    .buttonsSection{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 30px;
        margin:0;
        width: 100%;    
        
    }

    .tasks{
        margin-top:60px;
    }

    .listSection{
        border-bottom: none;
    }

    .buttonsRow1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position:absolute;
        width: inherit;
        margin: auto 0;
    }

    .buttonsRow2{
        display: flex;
        flex-direction: row;
        margin-top:20px;
        opacity: 0.8;
        
    }

    .list{

    }
   }