.register {
    height: 600px;
    width: 450px;
    background-color: #30336b;
    margin:150px auto;
    display: flex;
    flex-direction: column;
}

.registerHeader {
    color:#f0932b;
    margin-top:65px;
    margin-bottom: 75px;
    font-size:38px;
}

.inputs {
    width: 80%;
    margin:12px auto;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
}

.back {
    font-size: 48px;
    position: absolute;
    margin:15px 0 0 15px;
    color:#fff;
}

.back:hover {
    color:#2ed573;
}

.createBtn {
    width: 165px;
    height: 55px;
    margin: 0 auto;
    background: #f0932b;
    margin-top:35px;
    border-radius: 7px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .register{
        background:#1B1464;
    }
   }