.window {
    height: 600px;
    width: 450px;
    background-color: #30336b;
    margin:150px auto;
    display: flex;
    flex-direction: column;
}

.loginHeader {
    color:#f0932b;
    margin-top:35px;
    margin-bottom: 75px;
    font-size:38px;
}

.username, .password {
    width: 80%;
    margin:12px auto;
    height: 30px;
    font-size: 17px;
}

.password {

}

.loginBtn {
    width: 165px;
    height: 55px;
    margin: 0 auto;
    background: #f0932b;
    margin-top:35px;
    border-radius: 7px;
    font-size: 22px;
}

.smallOr {
    color:#fff;
    margin-top:35px;
}

.createAccount {
    color:#f0932b;
    font-size:24px;
    margin-top:35px;
    cursor: pointer;
    
}

.createAccount:hover {
    color:#fff;
}

.loginBtn:hover {
    background:#2ed573;
    animation: slideIn 0.5s infinite;

}

@keyframes slideIn {
    from {
        width:165px;
      }
    
      50% {
        width:220px;
      }

      to {
        width:165px;
      }
}

@media only screen and (max-width: 768px) {
    .window{
        background:#1B1464;
    }
   }